.row {
    --bs-gutter-x: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 50px;

}

.about-avatar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255,0.5);
}

/* main css start from here  */

.about-right {
    text-align: left !important;
    padding-left: 20px;
}

hr {
    width: 400px;
    border: 2px solid;
    border-radius: 5px;
}

.about-intro {
    font-size: 20px;
    
}

.ps {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

.skills-about {
    font-size: 20px;
    padding-top: 10px;
}

.badge {
    margin: 5px;
    font-size: 15px;
}


@media screen and (max-width: 768px) {
    hr {
    width: 300px;
    }
  }